* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    height: 960px;
    background: #23201F;
}

.menu {
    width: 150px;
    background: #2B2827;
    padding-top: 10px;
}

.menu .menu_button {
    width: 148px;
    height: 35px;
    background: #535353;
    border: 0.7px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 2px;
    display: block;
    margin-bottom: 1px;
    margin-top: 2px;

    font-size: 18px;
    text-align: center;
    color: #DCDCDC;
}

.menu .menu_sort {
    margin: 20px 0;
    padding: 0 1px;
}

.menu .menu_title {
    font-weight: normal;
    font-size: 14px;
    color: #DCDCDC;
    margin-left: 2px;
}

.menu .menu_sort_by_time {
    width: 148px;
}

.menu .menu_sort_by_time .menu_sort_by_time_title {
    font-size: 14px;
    color: #DCDCDC;
    margin-left: 2px;
}

.menu .menu_categories {
    display: flex;
    flex-direction: column;
    width: 148px;
}

.menu .menu_categories .menu_item {
    height: 35px;
    background: #535353;
    border-radius: 2px;
    border: 0.7px solid rgba(0, 0, 0, 0.3);
    padding: 5px;
    margin-bottom: 1px;

    font-size: 18px;
    text-align: center;
    color: #DCDCDC;
}

.notes {
    width: 1400px;
    background: #23201F;
    padding: 10px 4px 0 4px;
    display: flex;
    flex-direction: column;
}

.notes .notes_item {
    height: 50px;
    background: rgba(83, 83, 83, 0.5);
    border-radius: 5px;
    padding: 15px 20px 15px 20px;
    margin-bottom: 2px;

    display: flex;
    justify-content: space-between;
}

.notes .notes_name {
    font-size: 18px;
    color: #DCDCDC;
    text-align: left;
}

/* .notes .notes_content {
    font-size: 15px;
    color: #DCDCDC;
    text-align: left;
} */

.creating {
    width: 350px;
    background: #2B2827;
    padding: 10px 1px 4px 1px;
}

.creating .creating_category_and_name {
    display: flex;
    flex-direction: column;
}

.creating .creating_category, .creating_name {
    height: 40px;
    background: #646464;
    border-radius: 2px;
    margin-bottom: 1px;
    border: 0;
    padding: 5px;
}

.creating .creating_content {
    height: 817px;
    width: 100%;
    background: #646464;
    border-radius: 2px;
    margin: 3px 0 4px 0;
    padding: 5px;
}

.creating .creating_cansel_or_create {
    display: flex;
    justify-content: space-between;
}

.creating .creating_button {
    width: 173px;
    height: 40px;
    background: #535353;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;

    font-size: 18px;
    text-align: center;
    color: #DCDCDC;
}